.about{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
    margin-bottom: 40px;
}
.about-text{
    max-width: 55%;
    margin-right: 70px;
}
.about-contact{
    margin-left: 70px;
}
.about-text-title{
    margin-bottom: 20px;
}
.about-text-section{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.address-information{
    margin-top: 29px;     
}
.phone-information{
    margin-top: 16px;
}
.social-media-information{
    margin-top: 32px;
}
.icon-about{
    margin-right: 32px;
}
.icon-about:hover {
    cursor: pointer;
}