.single-course-page {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  margin-bottom: 190px;
  padding-left: 100px;
  padding-right: 100px;
}
.course-text-block {
  margin-right: 254px;
}
.price-title {
  color: #4f5d5d;
}
.light-left-text {
  color: #4f5d5d;
}
.light-right-text {
  color: #000000;
}
.course-describe-list {
  list-style: inside;
}
.card-info-all {
  margin: 20px 0;
}
.width-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
