@font-face {
    font-family: 'Baloo';
    src: url('/fonts/Baloo/Baloo-Regular.ttf')
  }
  @font-face {
    font-family: 'Baloo 2';
    src: url('/fonts/Baloo2/Baloo2-VariableFont_wght.ttf')
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.ttf')
  }
  body {
    font-family: 'Poppins';
  }
  h1{
    font-family: 'Baloo 2';
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  h2{
    font-family: 'Baloo 2';
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
  }
  h3{
    font-family: 'Baloo 2';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  h4{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  h5{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .general-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  .general-subtext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4F5D5D;
  }
  
  
  