.btn-courses-apply {
  width: 256px;
  height: 40px;
}
.courses-page-wrap {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  margin-bottom: 40px;
}
.all-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  margin: 30px;
  width: 280px;
  background: white;
  box-shadow: 0px 0px 4px #93a3a3;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 0px 0px 10px #93a3a3;
  cursor: pointer;
}
.course-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-title {
  display: flex;
  justify-content: space-between;
}
.price {
  color: #1b6c71;
}
.card-info-all {
  margin: 20px 0;
}
.card-info {
  display: flex;
  justify-content: space-between;
  text-align: end;
}
.clip {
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-content {
  padding: 10px 12px;
}
.light-left-text {
  font-size: 10px;
  line-height: 120%;
  color: #4f5d5d;
}
.light-right-text {
  font-size: 10px;
  line-height: 120%;
  color: #000000;
}
