footer {
    background:#59ABB0;
    padding-top: 39px;
    padding-bottom: 39px;
}
footer .container{
    padding-left: 100px;
    padding-right: 100px;
}
.elements-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Baloo 2';
    color: #FFFFFF;
}
